- name: Install golang
  ansible.builtin.dnf:
    name: golang
    state: installed

- name: App Pre-Req
  ansible.builtin.include_tasks: "app-prereq.yml"

- name: Install dependencies and build software
  ansible.builtin.shell: |
    go mod init dispatch
    go get
    go build
  args:
    chdir: /app

- name: SystemD Setup
  ansible.builtin.include_tasks: "systemd.yml"


