- name: Copy MongoDB Yum Repo file
  ansible.builtin.copy:
    src: mongodb.repo
    dest: /etc/yum.repos.d/mongodb.repo
    
- name: Install MongoDB Server
  ansible.builtin.dnf:
    name: mongodb-org-shell
    state: installed

- name: Load Schema
  ansible.builtin.shell: mongo --host mongodb-dev.lokeshviswa70.sbs </app/schema/catalogue.js
